section.about#about
	.container
		.about__inner
			.about__header.section_header
				p.about__suptitle.section_suptitle About us
				h2.about__title.section_title We&nbsp;provide The Best property for you
				p.about__text.section_text All ready set for you, just relax, and tell&nbsp;us how your dreamy house, and we&nbsp;will find for you.
			a.about__btn.btn(href="#" target="_blank") Read more
	img.about__img(src="./img/about/about-bg.png" alt="About background")