section.benefits#benefits
	.container
		.benefits__header.section_header
			p.benefits__suptitle.section_suptitle Benefits
			h2.benefits__title.section_title Some benefits from&nbsp;us
		.benefits__inner
			.benefits__box
				.benefits__item
					h3.benefit__box_title 100&#37; Protection
					p.benefit__box_suptitle All rescure protection for your future house.
				.benefits__item
					h3.benefit__box_title Top tier house
					p.benefit__box_suptitle We&nbsp;just provide top tier house for you.
				.benefits__item
					h3.benefit__box_title Transparancy
					p.benefit__box_suptitle Transparancy is&nbsp;always for customers.
			.discover__box
				h4.discover__title Discover Place
				p.discover__title USA, New York
				.discover__info
					.discover__images
						img.discover__img(src="./img/Discover/photo-1.jpg" alt="")
						img.discover__img(src="./img/Discover/photo-2.jpg" alt="")
						img.discover__img(src="./img/Discover/photo-3.jpg" alt="")
						img.discover__img(src="./img/Discover/photo-4.jpg" alt="")
					a.discover__link(href="#" target="_blank") See more
	img.benefits__bg(src="./img/benefits/benefits-bg.png" alt="Benefits background")
