section.benefits#benefits
	.benefits__container
		.benefits__header.page-header
			p.benefits__suptitle.page-suptitle Benefits
			h2.benefits__title.page-title Some benefits from&nbsp;us
		.benefits__inner
			.benefits__body.body-benefits
				//-Исправить классы у элементов 
				.body-benefits__item.item-benefits
					h3.item-benefits__title 100&#37; Protection
					p.item-benefits__suptitle All rescure protection for your future house.
				.body-benefits__item.item-benefits
					h3.item-benefits__title Top tier house
					p.item-benefits__suptitle We&nbsp;just provide top tier house for you.
				.body-benefits__item.item-benefits
					h3.item-benefits__title Transparancy
					p.item-benefits__suptitle Transparancy is&nbsp;always for customers.
			.discover-box
				h4.discover-box__title Discover Place USA, New York
				.discover-box__info
					.discover-box__images
						img.discover-box__img(src="./img/Discover/photo-1.jpg" alt="")
						img.discover-box__img(src="./img/Discover/photo-2.jpg" alt="")
						img.discover-box__img(src="./img/Discover/photo-3.jpg" alt="")
						img.discover-box__img(src="./img/Discover/photo-4.jpg" alt="")
					a.discover-box__link(href="#" target="_blank") See more
	img.benefits__bg(src="./img/benefits/benefits__bg.png" alt="Benefits background")
