footer.footer#footer
	.footer__container
		.footer__block
			a.footer__logo.logo(href="/")
				svg.logo__icon
					use(xlink:href="#logo")
			.footer__social.social
				a.social__item(href="#" target="_blank")
					svg.social__icon
						use(xlink:href="#facebook")
				a.social__item(href="#" target="_blank")
					svg.social__icon
						use(xlink:href="#twitter")
				a.social__item(href="#" target="_blank")
					svg.social__icon
						use(xlink:href="#instagram")
		.footer__wrapper-list
			h4.footer__title More
			ul.footer__list
				li.footer__item
					a.footer__link(href="./" target="_blank") FAQ
				li.footer__item
					a.footer__link(href="./" target="_blank") Contact Us
		.footer__wrapper-list
			h4.footer__title Service
			ul.footer__list
				li.footer__item
					a.footer__link(href="#questions") Consultant
				li.footer__item
					a.footer__link(href="./") Houses
				li.footer__item
					a.footer__link(href="./") Selections
				li.footer__item
					a.footer__link(href="./") Gallery
		.footer__wrapper-list
			h4.footer__title Company
			ul.footer__list
				li.footer__item
					a.footer__link(href="./#about") About Us
				li.footer__item
					a.footer__link(href="./" target="_blank") Terms
				li.footer__item
					a.footer__link(href="./" target="_blank") Privacy Policy
				li.footer__item
					a.footer__link(href="./#properties") Properties
	.footer__copy Renthouse &copy;&nbsp;2021. All rights reserved