header.header#header
	.header__container
		a.header__logo.logo(href="index.html") 
			svg.logo__icon
				use(xlink:href="#logo")
		nav.header__menu.menu
			button.menu__icon(type="button", aria-label="Open menu")
				span
			.menu__body
				ul.menu__list
					li.menu__item
						a.menu__link(href="#") Gallery
					li.menu__item
						a.menu__link(href="#about") About Us
					li.menu__item
						a.menu__link(href="#benefits") Benefits
					li.menu__item
						a.menu__link(href="#properties") Properties
		a.header__link.page-link(href="#questions") Consult