header.header#header
	.container
		.header__inner
			a.header__logo
				img(src="./img/Logo.svg" alt="Renthouse logo")
			nav.header__menu.menu
				.header__menu_icon
					span
				ul.menu__list
					li.menu__item
						a.menu__link(href="#") Gallery
					li.menu__item
						a.menu__link(href="#about") About Us
					li.menu__item
						a.menu__link(href="#benefits") Benefits
					li.menu__item
						a.menu__link(href="#properties") Properties
			a.header__btn.btn(href="#questions") Consult