section.intro
	.intro__container
		.intro__content
			h1.intro__title.main-title Find your Perfect Home 
				a.main-title__link(href="#steps") with&nbsp;Us
			p.intro__text All ready set for you, just relax, and tell&nbsp;us how your dreamy house, and we&nbsp;will find for you.
			.intro__row
				a.intro__link.page-link(href="#" target="_blank") Learn More
				a.intro__play.play(href="#")
					svg.play__icon
						use(xlink:href="#play")
					span Watch video
		form.intro__search-form.search-form(action='https://my-json-server.typicode.com/typicode/demo/posts' method="POST" enctype="multipart/form-data")
			.search-form__body
				.search-form__item
					p.search-form__name Location
					select.search-form__variable(tabindex="10" name="Location" required="required")
						option(value="New York" selected) New York
						option(value="New York") New York
						option(value="New York") New York
				.search-form__item
					p.search-form__name Type
					select.search-form__variable(tabindex="10" name="Type" required="required")
						option(value="All types" selected) All types
						option(value="Type 1") Type 1
						option(value="Type 2") Type 2
				.search-form__item
					p.search-form__name Max budget
					select.search-form__variable(tabindex="10" name="Budget" required="required")
						option(value=" 12.000" selected) 12.000 &#36;
						option(value=" 10.000") 10.000 &#36;
						option(value=" 9.000") 9.000 &#36;
			button.search-form__btn(type="submit") Search
	img.intro__img(src="./img/intro/intro-bg.png" alt="Intro background")