section.properties#properties
	.container
		.properties__header.section_header
			p.section_suptitle Properties
			h2.section_title Recently Best properties
			p.section_text All ready set for you, just relax, and tell&nbsp;us how your dreamy house, and we&nbsp;will find for you.
		.properties__inner
			.properties__column
				article.properties__item
					a.properties__image._ibg(href="./")
						img(src="./img/Properties/photo-1.jpg" alt="Villa House")
					.properties__content
						a.properties__link(href="./")
							h4.properties__title Mirror House
						p.properties__subtitle New York, USA
						.properties__footer
							p.properties__price &#36; 4.500
							p.properties__view View: 500
			.properties__column
				article.properties__item
					a.properties__image._ibg(href="./")
						img(src="./img/Properties/photo-2.jpg" alt="White House")
					.properties__content
						a.properties__link(href="./")
							h4.properties__title White House
						p.properties__subtitle Chicago, USA
						.properties__footer
							p.properties__price &#36; 2.300
							p.properties__view View: 420
			.properties__column
				article.properties__item
					a.properties__image._ibg(href="./")
						img(src="./img/Properties/photo-3.jpg" alt="Villa")
					.properties__content
						a.properties__link(href="./")
							h4.properties__title Villa
						p.properties__subtitle New York, USA
						.properties__footer
							p.properties__price &#36; 3.600
							p.properties__view View: 780
		a.properties__btn.btn(href="#" target="_blank") View more
	img.properties__bg.section_img(src="./img/section-bg.jpg" alt="Section background")