section.properties#properties
	.properties__container
		.properties__header.page-header
			p.properties__suptitle.page-suptitle Properties
			h2.properties__title.page-title Recently Best properties
			p.properties__text.page-text All ready set for you, just relax, and tell&nbsp;us how your dreamy house, and we&nbsp;will find for you.
		.properties__inner
			.properties__item.item-properties
				a.item-properties__image(href="./")
					img(src="./img/Properties/photo-1.jpg" alt="Villa House")
				.item-properties__info
					a.item-properties__link(href="./")
						h4.item-properties__title Mirror House
					p.item-properties__subtitle New York, USA
					.item-properties__footer
						p.item-properties__price &#36; 4.500
						p.item-properties__view View: 500
			.properties__item.item-properties
				a.item-properties__image(href="./")
					img(src="./img/Properties/photo-2.jpg" alt="White House")
				.item-properties__info
					a.item-properties__link(href="./")
						h4.item-properties__title White House
					p.item-properties__subtitle Chicago, USA
					.item-properties__footer
						p.item-properties__price &#36; 2.300
						p.item-properties__view View: 420
			.properties__item.item-properties
				a.item-properties__image(href="./")
					img(src="./img/Properties/photo-3.jpg" alt="Villa")
				.item-properties__info
					a.item-properties__link(href="./")
						h4.item-properties__title Villa
					p.item-properties__subtitle New York, USA
					.item-properties__footer
						p.item-properties__price &#36; 3.600
						p.item-properties__view View: 780
		a.properties__link.page-link(href="#" target="_blank") View more
	img.properties__bg.page-img(src="./img/section-bg.jpg" alt="Section background")