section.questions#questions
	.questions__container
		.questions__content
			.questions__header.section-header
				h2.questions__title.page-title Have a&nbsp;Questions?
				p.questions__text.page-text You ask&nbsp;us anything about your house program and we&nbsp;will acompany with your house in&nbsp;future.
			form.questions__consult-form.consult-form(action='https://jsonplaceholder.typicode.com/posts' method="POST" enctype="multipart/form-data" novalidate)
				.consult-form__input-box
					.consult-form__field
						input.consult-form__input(type="text" id="name" name="username" value="" placeholder="Darth Vader" required)
						.consult-form__field-message
						label.consult-form__label(for="name") Name
					.consult-form__field
						input.consult-form__input(type="email" id="email" name="email" value="" placeholder="BlackCat@gmail.cat" required)
						.consult-form__field-message
						label.consult-form__label(for="email") E-mail
				.consult-form__field
					textarea.consult-form__textarea(name="text" value="" placeholder="What is your cat's name?")
					label.consult-form__label.form__label_textarea(for="question") Your question
				button.consult-form__btn.page-link(type="submit") Consult
		.questions__spoiler.spoiler
			.spoiler__item
				button.spoiler__title(type="button", aria-label="Open accordion") How to&nbsp;get Started with&nbsp;Us?
				.spoiler__content
					p You can started with&nbsp;Us every time.
					p We&nbsp;online every day.
			.spoiler__item
				button.spoiler__title(type="button", aria-label="Open accordion") Can I&nbsp;choose my&nbsp;own House?
				.spoiler__content
					p You can started with&nbsp;Us every time.
					p We&nbsp;online every day.
			.spoiler__item
				button.spoiler__title(type="button", aria-label="Open accordion") When I&nbsp;can use for House?
				.spoiler__content
					p You can started with&nbsp;Us every time.
					p We&nbsp;online every day.
	img.questions__bg.page-img(src="./img/section-bg.jpg" alt="Questions background")