section.steps#steps
	.container
		.steps__header.section_header
			h2.section_title 3&nbsp; <a class="intro__title_link" href="./"> Easy </a> steps to&nbsp;rent
			p.section_text These typical steps for rent house of&nbsp;your dream.
		.steps__inner
			.steps__column
				article.steps__item
					a.steps__link(href="#" target="_blank")
						svg.steps__icon
							use(xlink:href="#search")
					h4.steps__title Find
					p.steps__text Search your dreaming house
			.steps__column
				article.steps__item
					a.steps__link(href="#" target="_blank")
						svg.steps__icon
							use(xlink:href="#key")
					h4.steps__title Rent
					p.steps__text Rent a&nbsp;house that choose and like
			.steps__column
				article.steps__item
					a.steps__link(href="#" target="_blank")
						svg.steps__icon
							use(xlink:href="#verified")
					h4.steps__title Apply
					p.steps__text Come to&nbsp;the house than you have rent
	img.steps__bg.section_img(src="./img/section-bg.jpg" alt="Steps background")
