.about {
	position: relative;
	padding: rem(155) 0 rem(220) 0;
	margin: 0 0 rem(165) 0;

	@include mq("tablet", max) {
		padding: 0 0 0 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__container {}

	&__inner {
		width: 42%;
		margin-right: 0;
		margin-left: auto;

		@include mq("tablet", max) {
			text-align: center;
			margin: 0;
			width: 100%;
		}
	}

	&__header {
		text-align: left;

		@include mq("tablet", max) {
			text-align: center;
		}
	}

	&__suptitle {
		margin: 0 0 rem(5) 0;
	}

	&__title {
		margin: 0 0 rem(20) 0;
	}

	&__text {
		margin: 0 0 rem(50) 0;
	}

	&__link {
		@include mq("phablet", max) {
			width: 100%;
		}
	}

	&__img {
		@include mq("tablet") {
			position: absolute;
			top: -3vh;
			right: 53vw;
			z-index: -2;
		}

		@include mq("phablet", max) {
			display: none;
		}
	}
}