/*** Benefits ***/
.benefits {
	margin: 0 0 rem(160) 0;
	position: relative;

	@include mq("tablet", max) {
		// padding-top: 10%;
		// padding-bottom: vw(80, 1920);
	}

	&__container {}

	&__header {
		margin: 0 0 6% 0;
	}

	&__suptitle {}

	&__title {}

	&__inner {
		/* нужно прижать к низу родителя */
		// position: absolute;
		// bottom: 0;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: rem(120);
	}

	&__body {}

	&__bg {
		// width: 100vw;
		position: absolute;
		right: 0;
		bottom: 0;
		z-index: -1;

		@include mq("tablet") {
			// width: 55vw;
		}

		@include mq("phablet", max) {
			display: none;
		}
	}
}

.body-benefits {
	// width: 100vw;
	// margin: 0 0 rem(50) 0;

	@include mq("tablet") {
		width: 40%;
		margin: 0;
	}

	&__item {}
}

.item-benefits {
	padding: rem(5) 0 rem(5) rem(30);
	position: relative;

	// box-shadow: 200px 0px 400px -11px rgba(4, 242, 51, 0.75) inset;
	&:not(:last-child) {
		margin: 0 0 rem(50) 0;
	}

	&:before {
		content: "";
		display: inline-block;
		width: rem(5);
		height: 100%;
		background-color: $red;
		border-radius: rem(10);
		position: absolute;
		left: 0;
		top: 0;
	}

	// &:after {
	// 	position: absolute;
	// 	left: 0;
	// 	top: 0;
	// 	content: "";
	// 	display: block;
	// 	height: 100%;
	// 	width: 100%;
	// 	background-color: rgba($color: $red, $alpha: 0.5);
	// }

	&__title {
		margin: 0 0 rem(10) 0;
		font-size: rem(28);
		font-weight: 500;
	}

	&__suptitle {
		line-height: 1.6875;
		color: $grey;
	}
}

/*** Discover ***/
.discover-box {
	// width: 100%;
	// margin: 0 0 0 auto;
	padding: rem(18) rem(25);
	box-shadow: 0 25px 55px -16px rgba(9, 45, 97, 0.2);
	border-radius: rem(20);
	background-color: $white;

	@include mq("tablet") {
		width: 35%;
	}


	&__title {
		width: 50%;
		margin: 0 0 rem(10) 0;
		font-size: rem(20);
		font-weight: 500;
	}

	&__subtitle {
		font-size: rem(15);
		line-height: 1.3;
		color: $grey;
		margin: 0 0 rem(10) 0;
	}

	&__info {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__images {
		&>*:not(:last-child) {
			margin: 0 rem(8) 0 0;
		}
	}

	&__img {
		// transition: 1s;

		&:hover {
			// transform: scale(1.2);
		}
	}


	&__link {
		font-weight: 500;
		color: $red;

		&:hover {
			text-decoration: underline;
		}
	}
}