.footer {
	position: relative;

	&__container {
		margin-bottom: rem(170);

		@include mq("phablet") {
			display: flex;
			justify-content: space-between;
		}
	}

	&__block {
		@include mq("tablet-small") {
			flex: 0 1 50%;
		}
	}

	&__logo {
		margin: 0 0 rem(30) 0;

		.logo__icon {
			width: rem(223);
			height: rem(53);
		}
	}

	&__wrapper-list {
		@include mq("phablet", max) {
			position: relative;
			padding: rem(10);
			cursor: pointer;

			&:after {
				content: "";
				width: 0;
				height: 0;
				position: absolute;
				right: rem(15);
				top: rem(15);
				border-width: 10px 0 10px 10px;
				border-style: solid;
				border-color: transparent #000;
				transition: transform 0.3s ease 0s;
			}

			&._active {
				& .footer__list {
					opacity: 1;
					display: block;
				}

				&:after {
					transform: rotate(90deg);
				}
			}
		}
	}

	&__title {
		margin: 0 0 rem(30) 0;
		font-size: rem(22);
		font-weight: 500;
		color: #4A4863;
	}

	&__list {
		@include mq("phablet", max) {
			padding: rem(20);
			transition: opacity 0.3s ease 0s;
			display: none;
			background: #ff2775;
			opacity: 0;
			pointer-events: none;
		}
	}

	&__item {
		padding: 0 rem(10) 0 0;

		&+& {
			margin: rem(25) 0 0 0;
		}
	}

	&__link {
		padding: 0 rem(30) 0 0;
		font-size: rem(16);
		color: #19144A;
	}

	&__copy {
		position: absolute;
		bottom: 10px;
		left: 50%;
		transform: translateX(-50%);
		font-size: rem(14);
		color: $grey;

	}
}

.social {
	display: flex;

	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 rem(4) 0 0;
		width: rem(40);
		height: rem(40);
		background-color: #fff;
		transition: background-color 0.1s linear;

		@media (any-hover: hover) {
			&:hover {
				background-color: #e8ecee;
			}
		}
	}

	&__icon {
		display: block;
		height: rem(24);
		fill: #4A4863;
		transition: fill 0.1s linear;
	}
}