.footer {
	width: 100%;
	position: relative;
	padding-bottom: vw(150, 1920);
	&__inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		// @include mq("tablet-small", max) {
		// 	flex-direction: row-reverse;
		// }
	}
	&__block {
		@include mq("tablet-small") {
			flex: 0 1 50%;
		}
	}
	&__logo {
		margin-bottom: 30px;
	}
	&__menu {
		margin-top: 0.8rem;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		flex: 1 1 100%;
		@include mq("tablet-small") {
			flex: 1 1 50%;
		}
	}
	&__column {
		margin-bottom: 20px;
	}
	&__title {
		margin-bottom: 30px;
		@include font-source-sans(1.375rem, 1.5em, 500);
	}
	&__list {
		& > *:not(:last-child) {
			margin-bottom: 10px;
		}
	}
	&__link {
		line-height: 24px;
		padding: 0px 30px 0px 0px;
	}
	&__copy {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		@include font-source-sans(0.875rem, 1.5em, $colour: $grey);
	}
}
.social {
	display: flex;
}
.social__item {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 4px;
	width: 40px;
	height: 40px;
	border: 1px solid #e8ecee;
	background-color: #fff;
	transition: background-color 0.1s linear;
}
.social__item:hover {
	background-color: #e8ecee;
}
.social__item:hover .social__icon {
	fill: $dark;
}
.social__icon {
	display: block;
	height: 24px;
	fill: $white;
	transition: fill 0.1s linear;
}
