.header {
	padding: rem(40) 0;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;

	&.fixed {
		padding: 0;
		position: fixed;
		background-color: #fff;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
	}

	&__container {
		min-height: rem(70);
		display: grid;
		grid-template-columns: 0.3fr 1fr 0.3fr;
		align-items: center;
		justify-content: space-between;
		gap: rem(40);

		@include mq("tablet", max) {
			grid-template-columns: repeat(2, auto);
		}
	}

	&__logo {}

	&__menu {
		justify-self: start;
	}

	&__link {
		justify-self: end;
	}
}

.logo {
	position: relative;
	z-index: 5;

	&__icon {
		display: block;
		width: rem(139);
		height: rem(33);
		fill: #4A4863;
	}
}

.menu {
	&__body {
		@include mq("tablet", max) {
			padding: 15% 3.9% 3.9% 3.9%;
			width: 100%;
			position: fixed;
			right: 0;
			top: -100%;
			opacity: 0;
			background-color: rgba($color: $red, $alpha: 0.9);
			transition: top 0.3s ease 0s, opacity 0.3s ease 0s;
			overflow: auto;

			&.active {
				top: 0;
				opacity: 1;
			}
		}
	}

	&__icon {
		display: none;

		@include mq("tablet", max) {
			display: block;
			position: relative;
			z-index: 5;
			width: rem(30);
			height: rem(18);
			cursor: pointer;

			& span,
			&:before,
			&:after {
				content: "";
				position: absolute;
				left: 0;
				width: 100%;
				height: 10%;
				background-color: $blue;
				transition: all 0.3s ease 0s;
			}

			&:before {
				top: 0;
			}

			&:after {
				bottom: 0;
			}

			& span {
				top: 50%;
				transform: scale(1) translate(0, -50%);
			}

			&.active {
				& span {
					transform: scale(0) translate(0, -50%);
				}

				&:before {
					top: 50%;
					transform: rotate(-45deg) translate(0, -50%);
				}

				&:after {
					bottom: 50%;
					transform: rotate(45deg) translate(0, 50%);
				}
			}
		}
	}

	&__list {
		@include mq("tablet") {
			display: flex;
			align-items: center;
			gap: rem(50);
		}
	}

	&__item {
		@include mq("tablet", max) {
			padding: rem(10) 0 rem(10) 0;
			width: 100%;
		}
	}

	&__link {
		font-weight: 500;
		color: #4A4863;
		text-align: center;
		border-bottom: 2px solid transparent;
		transition: border-bottom 0.2s ease 0s;

		@media (any-hover: hover) {
			&:hover {
				border-bottom: 2px solid $red;
			}
		}
	}
}