.intro {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;

	@include mq("desktop-wide") {
		padding: rem(265) 0 rem(155) 0;
	}

	@include mq("tablet", range, "desktop-wide") {
		// height: 100vh;
		padding: rem(150) 0;
	}

	@include mq("tablet", max) {
		padding: rem(100) 0;
	}

	&__container {}

	&__content {
		margin: 0 0 rem(120) 0;
		max-width: 50%;

		@include mq("tablet", max) {
			max-width: 100%;
		}
	}

	&__title {}

	&__text {
		max-width: 70%;
		line-height: 1.72;
		margin: 0 0 rem(70) 0;

		@include mq("tablet-small", max) {
			max-width: 100%;
		}
	}

	&__row {
		display: flex;
		align-items: center;
		gap: rem(40);
		transition: color 0.3s ease-in-out;
	}

	&__link {}

	&__play {}

	&__search-form {}

	&__img {
		//  При размерах экрана меньше 1440 задавать ширину
		position: absolute;
		left: 45vw;
		z-index: -1;

		@include mq("desktop-wide", max) {
			width: 77vw;
		}

		@include mq("tablet-small") {
			top: -23vh;
		}
	}
}

.main-title {
	margin: 0 0 rem(25) 0;
	@include font-source-sans(rem(54), 1.2, 700);
	text-transform: uppercase;

	@include mq("tablet-small", max) {
		font-size: 2.5rem;
	}

	&:hover .intro__title_link {
		text-decoration: underline;
		transition: color 0.2s linear;
	}

	&__link {
		color: $blue;

		&:hover {
			color: $red;
		}
	}
}

.play {
	display: inline-flex;
	align-items: center;
	transition: color 0.3s ease-in-out;

	&:hover {
		color: $blue;
	}

	&__icon {
		margin: 0 rem(10) 0 0;
		display: block;
		width: rem(42);
		height: rem(42);
		fill: currentColor;
	}
}

.search-form {
	margin: auto;
	width: 84%;
	padding: rem(30) rem(34) rem(30) rem(60);
	background-color: $white;
	box-shadow: 0 25px 68px -16px rgba(21, 101, 215, 0.15);
	border-radius: rem(30);
	display: flex;

	@include mq("tablet") {
		justify-content: space-between;
		align-items: center;
	}

	@include mq("tablet", max) {
		width: 100%;
		padding: rem(30) rem(15);
		flex-direction: column;
		gap: rem(15);
	}

	&__body {
		display: flex;

		@include mq("tablet") {
			flex: 0 1 56%;
			justify-content: space-between;
			align-items: center;
		}

		@include mq("tablet", max) {
			flex: 1 1 100%;
			flex-direction: column;
			gap: rem(15);
		}
	}

	&__item {
		position: relative;

		&::after {
			content: "";
			width: rem(10);
			height: rem(10);
			border-bottom: 3px solid $grey;
			border-right: 3px solid $grey;
			display: block;
			pointer-events: none;
			position: absolute;
			top: 50%;
			right: 0.5rem;
			z-index: 1;
			transform: translateY(50%) rotate(45deg);
		}

		@include mq("tablet") {
			&:not(:last-of-type)::before {
				content: "";
				position: absolute;
				top: 0;
				right: -30%;
				width: 1px;
				height: 100%;
				background-color: $grey;
			}
		}
	}

	&__name {
		font-size: rem(16);

		font-weight: 600;
		text-transform: uppercase;
		margin: 0 0 rem(5) 0;
	}

	&__variable {
		display: block;
		padding: 0 1.4em 0 0;
		width: 100%;
		max-width: 100%;
		font-size: rem(20);

		font-weight: 500;
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		background: none;
		color: $grey;
		font-family: inherit;
		cursor: pointer;

		&:hover {
			color: $dark;
		}

		option {
			color: $dark;
			font-size: inherit;
			font-weight: inherit;
		}
	}

	&__btn {
		@extend .page-link;
		padding: em(15, 22) em(70, 22);
		font-size: rem(22);
		border-radius: em(18, 22);
	}
}