/*** Questions ***/
.questions {
	width: 100%;
	position: relative;
	padding: vw(100, 1920) 0 vw(120, 1920) 0;
	&__inner {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin: 0 -50px -50px;
	}
	&__column {
		flex: 1 1 50%;
		padding: 0 50px 50px;
		@include mq("tablet", max) {
			flex: 1 1 100%;
		}
	}
	&__header {
		margin-bottom: 40px;
	}
}
.form {
	&__input_box {
		width: 100%;
		margin-bottom: 5%;
		@include mq("tablet-small") {
			display: flex;
			justify-content: space-between;
		}
	}
	&__field {
		flex: 1 1 40%;
		position: relative;
		margin: 15px 0 0 0;
		& + & {
			@include mq("tablet-small") {
				flex: 1 1 60%;
			}
		}
		&_message {
			display: none;
			width: 100%;
			margin-top: 0.25rem;
			font-size: 0.875rem;
			color: #dc3545;
		}
	}
	&__input {
		width: 100%;
		padding: 0.7em;
		background: #fdfdfd;
		background-clip: padding-box;
		border: 0.5px solid #b9beca;
		box-shadow: 0 11px 37px -14px rgba(21, 101, 215, 0.15);
		border-radius: 8px;
		font-size: 1rem;
		line-height: 1.5em;
		transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
		&::placeholder {
			opacity: 0;
		}
		&:focus {
			background-color: $white;
			border-color: currentColor;
			color: $dark;
			box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
			&::placeholder {
				opacity: 1;
			}
		}
		&:focus ~ .form__label,
		&:not(:placeholder-shown) ~ .form__label {
			top: 0;
			transform: translateY(-50%) scale(0.75);
		}
		&_invalid,
		&_valid {
			border-color: #dc3545;
			padding-right: 2.25rem;
			background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
			background-repeat: no-repeat;
			background-position: right 0.5625rem center;
			background-size: 1.125rem 1.125rem;
		}
		&_valid {
			border-color: #198754;
			background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
		}
		&_invalid:focus {
			border-color: #dc3545;
			box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
		}
		&_valid:focus {
			border-color: #198754;
			box-shadow: 0 0 0 0.25rem rgb(25, 135, 84, 0.25);
		}

		&_valid ~ .form__field_message {
			color: #198754;
		}
		&_invalid ~ .form__field_message,
		&_valid ~ .form__field_message {
			display: block;
		}
	}
	&__label {
		position: absolute;
		top: 35%;
		left: 0.3125rem;
		display: flex;
		transform: translateY(-50%);
		pointer-events: none;
		border: none;
		background-color: $white;
		color: $grey;
		font-weight: 300;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		transition: top 0.1s ease-in-out, scale 0.1s ease-in-out;
	}
	&__textarea {
		min-height: 7.5em;
		width: 100%;
		border: 0.5px solid $grey;
		border-radius: 8px;
		padding: 0.7rem;
		margin-bottom: 40px;
		background: #fdfdfd;
		box-shadow: 0px 11px 37px -14px rgba(21, 101, 215, 0.15);
		resize: none;
		overflow: auto;
		font-size: 1rem;
		line-height: 1.5em;
		&::placeholder {
			opacity: 0;
		}
		&:focus {
			background-color: $white;
			border-color: currentColor;
			color: $dark;
			box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
			&::placeholder {
				opacity: 1;
			}
		}
		&:focus ~ .form__label,
		&:not(:placeholder-shown) ~ .form__label {
			top: 0;
			transform: translateY(-50%) scale(0.75);
		}
	}
	&__btn {
		padding: 0.75em 3em;
		@include font-source-sans(1.25rem, 1.5em, 500);
		@include mq("phone-wide", max) {
			width: 100%;
		}
	}
}
.form__label_textarea {
	top: calc(10% + 0.3125rem);
}
.spoiler {
	padding: 30px;
	border-radius: 30px;
	background-color: $blue;
	&__item {
		position: relative;
		color: $white;
		&:not(:first-child) {
			padding-top: 25px;
		}
		&:not(:last-child) {
			padding-bottom: 25px;
		}
		&:not(:last-child):before {
			content: "";
			width: 100%;
			height: 1px;
			background-color: $white;
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}
	&__name {
		@include font-source-sans(1.625rem, 1.5em, 600);
		cursor: pointer;
	}
	&__name:after {
		content: "+";
		float: right;
	}
	&__name.active:after {
		content: "-";
	}
	&__content {
		display: none;
		// padding: 10px 0 0 0;
		font-size: 1rem;
		line-height: 1.5625em;
	}
}
.questions__bg {
	width: 55vw;
	position: absolute;
	top: -100px;
	left: 60vw;
	z-index: -9;
}
