.steps {
	position: relative;
	margin: 0 0 rem(220) 0;

	@include mq("tablet", max) {
		margin: 0 0 rem(100) 0;

	}

	&__container {}

	&__header {
		margin: 0 0 rem(80) 0;
	}

	&__title {}

	&__text {}

	&__inner {
		@include mq("phablet") {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: rem(30);
		}

		@include mq("tablet") {
			gap: rem(80);
		}
	}

	&__column {
		flex: 0 1 25%;

		&:nth-of-type(2n) {
			& .steps__item {
				background-color: $blue;
				color: $white;
			}

			& .item-steps__icon {
				fill: $white;
				color: $white;
			}

			& .item-steps__info {
				color: $white;
			}
		}

		@include mq("tablet", max) {
			flex: 0 1 47%;

			&:last-child {
				flex: 1 1 100%;
			}
		}
	}

	&__item {
		height: 100%;
	}

	&__bg {
		width: 55vw;
		position: absolute;
		top: rem(-400);
		right: 70vw;
		z-index: -9;
	}
}

.item-steps {
	padding: rem(80) rem(37) rem(60);
	background-color: $white;
	box-shadow: 0 25px 68px -16px rgba(21, 101, 215, 0.15);
	border-radius: rem(38);
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;

	@include mq("phablet", max) {
		margin: 0 0 rem(30) 0;
	}

	&__icon {
		display: block;
		height: rem(80);
		width: rem(80);
		margin: 0 0 rem(70) 0;
		fill: $blue;
		color: $blue;
	}

	&__title {
		font-size: rem(28);
		font-weight: 500;
	}

	&__info {
		line-height: 1.3;
		color: $grey;
	}
}