doctype html
html(lang="en")
	head
	@@include('html/head.pug', {
		"title": "Renthouse"
	})
	body(style="background-color: #fff;")
		include html/sprite
		.wrapper
			include html/header
			main.page
				include html/intro
				include html/about
				include html/benefits
				include html/properties
				include html/steps
				include html/questions
			include html/footer
		script(src="js/app.js")

//-
	<!-- ! Добавить аккордеоны, выпадающие списки, слайдеры. -->
		<!-- ? добавить плавный скрол -->
		<!-- // Добавить спрайты или иконочный шрифт -->
		<!-- Может сделать aside вместо ссылки Gallery, чтобы он ещё выезжал сбоку -->
		<!-- сделать слайдер -->
		<!-- Нужно разобраться с заголовками -->
			//- Добавить табуляцию
			//- Просмотреть все записи и собрать полезный код в сборку
			//- Добавить переменные для контейнера
			//- оформить код согласно код стайлу maxgraph
			//- Пересчитать у всех размер шрифта
			//- вернуться к отступам
			//- Добавить видео
			//- Доделать картинки