doctype html
html(lang="en")
	head
	@@include('html/head.pug', {
		"title": "Renthouse"
	})
	body(style="background-color: #fff;")
		include html/sprite
		.wrapper
			include html/header
			main.page
				include html/intro
				include html/about
				include html/benefits
				include html/properties
				include html/steps
				include html/questions
			include html/footer
		script(src="js/app.js")

//-
		<!-- ? добавить плавный скрол -->
		<!-- // Добавить спрайты или иконочный шрифт -->
		<!-- Нужно разобраться с заголовками -->
			//- Добавить табуляцию
			//- Перемеиновать классы
			//- Переделать переменные