@use "sass:math";
@use "sass:map";

/*** Vars ***/
@import "vars";

/*--------------------*/
/*** Mixins ***/
@import "mixins";
/*--------------------*/
/*** Null ***/
@import "null";
/*--------------------*/
/*** Fonts ***/
@import "fonts/fonts";
@import "fonts/icons";


/*--------------------*/
body {
	font-family: $font-primary;
	@include font-source-sans(rem($fontSize), 1.5, 400, $primaryColor);
	font-style: normal;
	text-align: left;
	position: relative;

	&.lock {
		overflow: hidden;
		touch-action: none;
	}
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	>main {
		flex: 1 1 auto;
	}
}

/*** Container ***/
[class*="__container"] {
	width: 100%;
	max-width: rem(1190);
	margin: auto;
	padding: 0 rem(15);
}

.page {
	&-header {
		text-align: center;
	}

	&-suptitle {
		font-size: rem(22);
		font-weight: 500;
		color: $blue;
		letter-spacing: 0.12em;
		text-transform: uppercase;
	}

	&-title {
		font-size: rem(38);
		font-weight: 700;

		& span {
			color: $blue;
		}

		@include mq("phablet", max) {
			font-size: rem(28);
		}
	}

	&-text {
		line-height: 1.72;
	}

	&-link {
		padding: em(10, 18) em(40, 18);
		border-radius: em(10);
		font-weight: 500;
		color: $white;
		background-color: $blue;
		transition: background-color 0.2s linear;
		text-align: center;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		@media (any-hover: hover) {
			&:hover {
				color: $white;
				background-color: $red;
			}
		}
	}

	&-img {}
}

@import "components/header";
@import "components/intro";
@import "components/about";
@import "components/benefits";
@import "components/properties";
@import "components/steps";
@import "components/questions";
@import "components/footer";